body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

nav{
background:#111827;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
}

.hero{
background:#2563eb;
color:white;
padding:60px;
text-align:center;
}

.products{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
}

.card{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 4px 8px rgba(0,0,0,.2);
text-align:center;
}

button{
background:#2563eb;
color:white;
padding:10px;
border:none;
cursor:pointer;
}
