body{
    margin:0;
    font-family:Arial;
    background:#0f172a;
    color:white;
}

.login-container{
    width:350px;
    margin:120px auto;
    text-align:center;
    background:#1e293b;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 25px gold;
}

input{
    width:90%;
    padding:12px;
    margin:10px;
    border:none;
    border-radius:10px;
}

button{
    background:gold;
    color:black;
    border:none;
    padding:12px 25px;
    border-radius:10px;
    cursor:pointer;
    transition:0.4s;
}

button:hover{
    transform:scale(1.1);
    background:white;
}

header{
    text-align:center;
    padding:30px;
}

.products{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:#1e293b;
    width:250px;
    padding:20px;
    border-radius:15px;
    text-align:center;
    transition:0.5s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px gold;
}
